@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('./asset/logo/BG_WITHLOGOS-04.png');
    /* background: red; */
}

h1,h2,h3,h4,h5{
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

p{
    margin: 0;
    font-family: 'Poppins', sans-serif; 
}

/* Back to top  */
.back-to-top {
    position: fixed;
    display: none;
    bottom: 10px;
    z-index: 10;
    right: 10px;
    background: #900c3f;
}


#header{
    position: fixed;
    width: 100%;
    z-index: 2;
}

#showcase{
    padding-top: 3rem;
}

#showcase .sponsored{
    display: flex;
    width: 100vw - 100px;
}

#showcase .sponsored img{
    width: 100%;
 
}

@media (max-width: 600px){

    #showcase{
        padding-top: 4rem;
    }
    
    #showcase .endoresed, .organized {
        display: block;
        padding: 0;
        margin: auto;
        width: 100%;
    }

    #showcase .sponsored .organized{
        width: auto;
    }

    #showcase .sponsored .endoresed .images, 
    #showcase .sponsored .organized .images{
    display: block;
    padding: 0;
    margin: auto;
    text-align: center;
    }

    #showcase .endoresed img, .organized img{
        width: 40px;
        height: 40px;
        margin: 0px;
    }

}

/* #showcase .title  */

#showcase .title h2{
    font-size: 3rem;
    text-transform: uppercase;
    color: #900c3f;
}

#showcase .title p{
    font-size: 2rem;
}

#showcase .register{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
}

#showcase .register h3{
    color: #c70039;
    padding: 3px 1rem;
}

#showcase .register h3:first-child{
   border-right: 3px solid #c70039;
}

#showcase .register .highlight{
    background: #c70039;
    border-radius: 5px;
    color: white;
}

#showcase .register img{
    display: block;
    width: 200px;
    position: absolute;
    height:300px;
    right: 0rem;
    top: -9rem;
}

@media (max-width: 600px){
    #showcase .title h2{
        font-size: 1.3rem;
        font-weight: 700;
    }
    #showcase .title p{
        font-size: 1rem;
    }
    #showcase .register h3{
        text-align: center;
        padding-top: 0.5rem;
    }
    #showcase .register h3:first-child{
        border-right: none;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        border-bottom-width: 5px;
    }
    #showcase .register .img{
        height: 160px;
    }
    #showcase .register img{
        position: relative;
        width: 50%;
        height: 100%;
        top: 0;
        margin: auto;
    }
}

#prize{
    background: url('asset/bg/bg.png');
}

#prize .heading{
    font-size: 2rem;
    text-align: center;
    width: 70%;
    margin: 1rem auto;
    font-weight: 600;
}

#prize .showcase-img img, #prize .scan img{
    width: 500px;
}

#prize .scan a{
    width: 100px;
    margin: 1rem 0;
    background: #900c3f;
}

#prize .showcase-img{
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
}

#prize .awards{
    text-align: center;
    color: #900c3f;
    width: 80%;
    margin: auto;
}

#prize .awards h3{
    font-size: 1.5rem;
    padding: 8px 0;
}

#prize .awards h3:first-child{
    font-weight: 700;
    font-size: 1.8rem;
}

#prize .scan{
    text-align: center;
    margin: auto;
}

#prize .scan h3{
    font-size: 1.9rem;
    color: #900c3f;
    font-weight: 700;
}

#prize .scan img{
    width: 400px;
    height: auto;
    
}

@media (max-width: 600px){
    #prize .scan img{
        width: auto;
        height: auto;
        
    }
    #prize .awards,
    #prize .heading{
        width: 100%;
    }
    
    #prize .heading{
        font-size: 1.3rem;
    }
    
    #prize .showcase-img img, #prize .scan img{
        width: 100%;
    }
}

#criteria div{
    width: 80%;
    margin: 2rem auto;
    text-align: justify;
}

#criteria div h3,
#Qr-code p:first-child,
#statement .problem-statement h2,
#statement .emerging-solution h2,
#statement .app-specification h1,
#footer h1 span,
#footer .commitee h1,
#footer h1
{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    color: #900c3f;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    padding: 0.3rem;
}

#criteria div p,
#criteria div ul,
#statement .problem-statement p,
#statement .emerging-solution p,
#statement .app-specification ol,
#footer .patron p
{
    width: 80%;
    padding: 10px 0;
    font-size: 1.5rem;
    display: block;
    margin: auto;
    text-align: justify;
}

#criteria .tech-stack p{
    text-align: center;
}

#criteria .tech-stack img{
    width: 100%;
}

#Qr-code .sets img{
    width: 200px;
    margin: 1rem;
}

#Qr-code .social-media{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#Qr-code .social-media div{
    margin: 0 1.3rem;
}

#Qr-code .social-media a{
    display: block;
    padding: 0.4rem 0;
    font-size: 1.4rem;
    color: black;
}

#Qr-code .social-media a span{
    margin: 0.4rem;
    font-size: 2.2rem;
    margin-left: -2.2rem;
}

#Qr-code .social-media div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#Qr-code .social-media div:nth-child(2) a span{
    font-size: 2rem;
    width: 30px;
    margin-left: 0;
}

#Qr-code .social-media .mail{
    display: block;
    width: 100%;
    text-align: center;
    margin: 0.3rem 0;
}

@media (max-width: 600px){
    #Qr-code .social-media p{
        font-size: 1rem;
        margin: 0rem 1rem;
        width: 100vw;
    }
    
    #Qr-code .sets img{
        margin: auto;
    }

    #Qr-code .social-media div{
        width: 100vw;
    }

    #Qr-code .social-media a{
        font-size: 1rem;
        margin-left: 2rem;
        /* display: block; */
    }

    #Qr-code .social-media div:nth-child(2) a span,
    #Qr-code .social-media a span,
    #Qr-code .social-media a span{
        font-size: 1.4rem;
        margin-left: -2.5rem;
        width: 30px;
        text-align: left;
    }

    #Qr-code .social-media .mail span{
        padding: 0.5rem;
    }
}

#statement .app-specification ol{
    width: 85%;
    padding: 0.5rem;
}

@media (max-width: 600px){

    #statement .app-specification{
        text-align: left;
        display: block;
        width: 100vw;
        margin: auto;
    }

    #statement .app-specification h1{
        font-size: 1.3rem;
    }

    #statement .app-specification ol{
        width: 100%;
        padding-left: 1rem;
        font-size: 1.2rem;
    }

    #statement .app-specification ol li{
        width: 90vw;
    }

}

#footer  .patron{
    width: 40%;
    display: block;
    margin: 0 auto;
}

#footer .patron h1{
    font-size: 1rem;
}

#footer .patron p{
    text-align: center;
    padding: 0;
}

#footer .commitee .mems{
    display: flex;
    flex-direction: column;
    margin: 0.9rem;
    align-items: center;
    
}

#footer .commitee .mems .partition{
    display: flex;
    margin-top: 1rem;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
}

#footer .commitee .mems img{
    height: 100px;
    width: 150px;
}

#footer .commitee .mems .member{
    width: 70%;
}

#footer .commitee .partition .member p span:first-child,
#footer .commitee .member p span:first-child{
    font-size: 0.9rem;
    font-weight: 700;
    color: #900c3f;
}

@media only screen and (max-width:600px){
    html,body{
        overflow-x: hidden;
    }

    #criteria div p,
    #criteria div ul,
    #statement .problem-statement p,
    #statement .emerging-solution p,
    #statement .app-specification ol
    {
        font-size: 1rem;
        width: 100%;
        line-height: 1.3;
        padding: 0.6rem;
        text-align: justify;
    }
    
    #criteria div h3,
    #statement .problem-statement h2,
    #statement .emerging-solution h2,
    #statement .app-specification h1,
    #footer h1 span,
    #footer h1:first-child{
        font-size: 1.4rem;
    }

    
    #footer .commitee .mems .partition{
        width: 100%;
    }

    #statement .problem-statement p,
    #statement .emerging-solution p{
        font: 1rem;
        width: 100%;
        line-height: 1.3;
        padding: 1.2rem;
        text-align: justify;
    }

    #footer  .patron{
        width: 100%;
        display: block;
    }
    
    #footer h1:first-child,
    #footer .patron p{
        text-align: center;
        font-size: 1rem;
    }
    
    #footer .patron p{
        padding: 0;
    }

    #footer .mems .partition{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    #footer .mems .partition img, #footer .mems .partition .member{
        display: block;
        margin: auto;
        text-align: center;
    }
}